$fontMartel: 'Martel', sans-sefir;
$fontOpenSans: 'Open Sans', sans-serif;

$bckg-color: #FAFAFA;
$fntColor: #737373;
$fntBlueColor: #252B42;
$greyColor: #784F33;
$hoverColor: #295C7A;


$breakpoint1440: 1439.98px;
$breakpoint1280: 1279.98px;
$breakpoint1114: 1113.98px;
$breakpoint1084: 1083.98px;
$breakpoint850: 849.98px;
$breakpoint768: 767.98px;
$breakpoint480: 479.98px;