@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../styles/Header.scss);
@import './_vars.scss';

* {
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    max-width: 100vw;
    width: 100%;
    background-color: $bckg-color;
}

.hover:hover {
    opacity: .85;
}