@import './vars.scss';

.header {
    margin: 0 auto;
    max-height: 752px;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    @include font(Martel, 600, 14px, 1.71);
    background-image: url('../images/cover_header.png');
    background-repeat: no-repeat;
    background-size: cover;
    // margin-bottom: 84px;

    @media (max-width: $breakpoint1114) {}

    .navigation {
        display: flex;
        max-width: 1322px;
        max-height: 104px;
        margin: 0 59px;
        padding: 36px 0;

        @media (max-width: $breakpoint1280) {
            margin: 0 40px 0 0;
        }

        &__list {
            display: flex;
            align-items: center;
            list-style: none;
            margin-right: auto;
            

            @media (max-width: $breakpoint850) {
                flex-direction: column;
            }

            &_item {
                text-decoration: none;
                width: 42px;
                height: 42px;
                @include font(Open Sans, 600, 14px, 1.71);
                font-family: $fontOpenSans;
                font-style: normal;
                color: $fntColor;
                margin-right: 25px;

                @media (max-width: $breakpoint850) {
                    font-weight: 400;
                    font-style: normal;
                    font-size: 30px;
                    line-height: 1.5;
                }

                &:hover {
                    color: $hoverColor;
                    transition: .1s all ease;
                }
            }
        }

        &__title {
            margin: 0 90px 0 136px;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.3;
            color: $fntBlueColor;

            @media (max-width: $breakpoint1084) {
                margin: 0 70px;
            }
        }
    }

    &__main {
        margin: 0 auto;
        max-width: 1046px;
        padding: 0;
    }

    &__about {
        display: flex;
        flex-direction: column;
        margin: 0 195px;
        max-width: 509px;
        margin-bottom: 80px;

        @media (max-width: $breakpoint1280) {
            margin: 0 136px;
        }

        @media (max-width: $breakpoint1084) {
            margin: 0 70px;
        }


        &_title {
            margin: 84px 0 35px;
            @include font(Martel, 900, 58px, 1.12);
            color: $fntBlueColor;
            letter-spacing: 0.2px;

            @media (max-width: $breakpoint850) {
                width: 241px;
                font-size: 40px;
                font-weight: 700;
                line-height: 1.25;
            }

        }

        &_subtitle {
            margin: 0 0 45px;
            @include font(Martel, 500, 20px, 1.5);
            color: $fntColor;
            max-width: 380px;
            letter-spacing: 0.2px;
        }

        &_button {
            width: 182px;
            height: 48px;
            border-radius: 48px;
            @include font(Open Sans, 700, 14px, 2);
            letter-spacing: 0.2px;
            background-color: $greyColor;
            color: #FFFFFF;
            border: none;

            &:hover {
                color: $greyColor;
                background-color: #FFFFFF;
                transition: .3s all ease;
            }

            &-more {
                width: 155px;
                height: 48px;
                border-radius: 37px;
                @include font(Open Sans, 700, 14px, 2);
                letter-spacing: 0.2px;
                border: 1px solid $greyColor;
                color: $greyColor;

                &:hover {
                    color: #FFFFFF;
                    background-color: $greyColor;
                    transition: .3s all ease;
                }
            }
        }
    }
}

.buttons {
    display: flex;
    gap: 10px;
}

.services {
    &__list {
        gap: 30px;
        max-width: 1046px;
        margin: 80px 0 0;
        @media (max-width: $breakpoint1114) {
            justify-content: center;
        }
    }

    &__item {
        max-width: 328px;
        max-height: 210px;
        background-color: #FFFFFF;
        padding: 37px 40px;
        flex: 1 1 auto;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, .07);

        @media (max-width: $breakpoint768) {}

        &:hover {
            transform: scale(1.1);
            transition: .3s all ease;
            cursor: pointer;
        }

        &:last-child {
            background-color: $hoverColor;
        }

        &_title {
            margin: 12px 0 10px;
            @include font(Martel, 700, 24px, 1.33);
            letter-spacing: 0.1px;
            color: $fntBlueColor;

            &-last {
                color: #FFFFFF;
            }
        }

        &_subtitle {
            margin: 0;
            @include font(Martel, 400, 14px, 1.43);
            letter-spacing: 0.2px;
            color: $fntColor;
            &-last {
                color: #FFFFFF;
            }
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}