@import './vars.scss';


.title {
    @include font(Martel, 700, 40px, 1.25);
    text-align: center;
    color: $fntBlueColor;
    margin: 0;
}

.statistic {
    margin: 194px auto 124px;

    &__list {
        gap: 39.5px;
    }

    &__item {
        width: 230px;
        background-color: #fff;
        padding: 30px 32px;
        text-align: center;

        &:hover {
            transform: scale(1.1);
            transition: .3s all ease;
            cursor: pointer;
        }

        &_title {
            margin: 12px 0 10px;
            @include font(Martel, 700, 40px, 1.25);
            color: $fntBlueColor;
        }

        &_subtitle {
            margin: 0;
            @include font(Martel, 700, 16px, 1.5);
            color: $fntColor;
        }
    }
}

.practice {
    margin: 125px auto 0;

    &__list {
        gap: 39.5px;
        padding-bottom: 80px;
        margin: 0;
    }

    &__container {
        padding: 30px 51px 29px 30px;
    }

    &__subtitle {
        text-align: center;
        margin: 15px auto 45px;
        max-width: 431px;
    }

    &__item {
        width: 230px;
        height: 341px;
        background-color: #fff;
        text-align: left;


        &:hover {
            transform: scale(1.1);
            transition: .3s all ease;
            cursor: pointer;
        }

        &_title {
            margin: 0;
            @include font(Martel, 700, 16px, 1.5);
            color: $fntBlueColor;
            max-width: 125px;
        }

        &_subtitle {
            margin: 15px 0 0;
            @include font(Open Sans, 400, 14px, 1.43);
            color: $fntColor;
        }

        &_img {
            width: 230px;
            margin-bottom: 0;
        }
    }
}

.subtitle {
    display: block;
    @include font(Open Sans, 400, 14px, 1.43);
    text-align: center;
    max-width: 468px;
    margin: 10px auto 50px;
    color: $fntColor;

    &__last {
        margin-bottom: 20px;
    }
}

.description {
    padding: 88px 0 143px;
    background-color: #fff;

    &__container {
        display: flex;
        margin: 0 auto;
        max-width: 1053px;
        max-height: 442px;
    }

    &__subtitle {
        margin-bottom: 100px;
    }

    &__video {
        width: 597px;
        transition: .3s all ease-in-out;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.text-container {
    margin-left: 120px;
    padding: 20px 0 0;

    &__item {
        display: flex;
        align-items: flex-start;

        &_img {
            margin-right: 20px;
        }
    }

    &__title {
        text-align: left;
    }

    &__subtitle {
        text-align: left;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }



    &__text {
        display: flex;
        flex-direction: column;

        &_title {
            @include font(Martel, 700, 16px, 1.5);
            margin: 0;
            color: $fntBlueColor;

        }

        &_subtitle {
            @include font(Open Sans, 700, 14px, 1.71);
            letter-spacing: 0.2px;
            color: $fntColor;
            margin: 5px 0 30px;
        }
    }
}

.partners {


    &__container {
        background: linear-gradient(to top, #252B42 23%, #fafafa 23%);
        display: flex;
        flex-direction: column;
        margin: 0 auto;

    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-around;
        margin: 50px auto 70px;
        width: 73vw;

        &_item:hover {
            transform: scale(1.1);
            transition: .3s all ease;
            cursor: pointer;
            filter: sepia(70%);
        }
    }
    

    &__form {
        display: flex;
        margin: 0 auto 20px;
        align-items: center;
        background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
        width: 68vw;
        height: 124px;

        &_title {
            color: #fff;
            @include font(Martel, 700, 20px, 1.33);
            max-width: 253px;
            width: 250px;
            height: 64;
            margin: 30px 160px 30px 50px;
            letter-spacing: 0.1px;
        }

        &_input {
            width: 73%;
            height: 58px;
            padding-left: 20px;
            color: #f9f9f9;
            border: 1px solid #E6E6E6;
            border-radius: 5px 0px 0 5px;
            box-sizing: border-box;
        }

        &_button {
            height: 58px;
            margin-right: 53px;
            padding: 0 20px;
            background-color: #D0A144;
            color: #fff;
            border: 1px solid #E6E6E6;
            border-radius: 0px 5px 5px 0px;
            box-sizing: border-box;
        }
    }
}